:root {
  --light: #fffffe;
  --primary: #094067;
  --secondary: #3da9fc;
  --tertiary: #90b4ce;
  --grey: #5f6c7b;
  --light-grey: #e6e6e6;
  --danger: #f14668;
  --danger-strong: #d21c40;
  --success: #2cb67d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.btn {
  margin: 15px ;
  padding: 10px;
  font: inherit;
  background-color: var(--secondary);
  color: var(--light);
  border: 1px solid var(--secondary);
  cursor: pointer;
  border-radius: 2px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover:enabled,
.btn:active:enabled {
  background-color: var(--primary);
}

.btn--danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
}

.btn--danger:hover:enabled,
.btn--danger:active:enabled {
  background-color: var(--danger-strong);
}
